<div class = "front">


    <img src = <%="images/burger_face.png"%> 
    style = "justify-content: center" 
    style = "max-width: 50%"/> 



  <div class = "front_text">
    <h1 style = "font-size: 90px">BURGERBELLY</h1>
    <h4>Tracking every scent of a burger</h4>
  </div>

</div>
