<div class = "front">
  <h2> <img src = <%="images/burger_face.png"%> style = "justify-content: center" style = "max-width: 50%"/> </h2>
<div>




  <h1 style = "font-size: 90px">BURGERBELLY</h1>
  </div>

</div>
