<!DOCTYPE html>
<html>
  <head>
    <title> Burger Tracker</title>
    <link rel = "stylesheet", type = "text/css", href = "styles/style.css"/>
  </head>
  
  <body>
    <nav>
        <a href = "/burgers"> ALL BURGERS</a>
    </nav>



      <%= yield %>
  </body>
</html>