<!DOCTYPE html>
<html>
  <head>
    <title> Burger Tracker</title>
    <link rel = "stylesheet", type = "text/css", href = "/styles/style.css"/>
    <link rel="icon" href="/images/burger_face.png" />
  </head>
  
  <body>
    <nav>
        <a href = "/">HOME</a>
        <a href = "/burgers"> ALL BURGERS </a>
        <a href = "/burgers/new"> ADD NEW BURGER </a>
    </nav>



    <%= yield %>

  </body>
</html>