<!DOCTYPE html>
<html>
  <head>
    <title> BurgerBelly</title>
    <link rel = "stylesheet", type = "text/css", href = "/styles/style.css"/>
    <link rel="icon" href="/images/burger_face.png" />
  </head>
  
  <body>
  <div class = "header">
    <div class = "bar">
      <nav>
          <a href = "/">HOME</a>
          <a href = "/burgers"> ALL BURGERS </a>
          <a href = "/restaurants"> ALL RESTAURANTS </a>
          <a href = "/burgers/new"> ADD NEW BURGER </a>
      </nav>
    </div>

    <div class = bar_logo>
        <img src = "/images/burger_face.png"/>
        <h1>BURGERBELLY</h1>
    </div>

  </div>
    <hr>

      <%= yield %>

  </body>
</html>