<h2>RANT OR RAVE ABOUT IT</h2>

<div class = "form_container">

  <div class = "new_form">
      <form style = "margin-top: -10px" action='/reviews/<%= @burger.id %>' method='post'>
        <p>
           <label>
              Username: 
              <input type="text" name="username" />
            </label>
        </p>

        <p>
          <label>
          Review: 
            <textarea type="textarea" name="review" /> </textarea>
          </label>
        </p>

        <input type="hidden" value = "<%= @burger.id %>" name="burger_id" />

        <input class = "btn" type = "submit" value = "Submit"></input>

      </form>  
  
  </div>
</div>