h1{
  font-family: tahoma;
  text-align: center;
}

h2{
  font-family: tahoma;
  text-align: center;
}


p{
  font-family: tahoma;
}

a{
  font-family: tahoma;
  margin: 10px;
}

a:hover{
  font-family: tahoma;
  text-decoration: none;
}

.cards{
  border: solid 1px gray;
  border-radius: 5px;
  padding:10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

.container{
  padding: 20px;
  border: solid 1px gray;
  border-radius: 5px;
  margin: 20px;
  align-content: center;

  
}

label{
  font-family: tahoma;
}

body{
  align-content: center;
  margin: 20px;
}


