h1{
  font-family: tahoma;
  text-align: center;
}

h2{
  font-family: tahoma;
  text-align: center;
}


p{
  font-family: tahoma;
}

a{
  font-family: tahoma;
  margin: 10px;
}

a:hover{
  font-family: tahoma;
  text-decoration: none;
}

div{
  border: solid 1px gray;
  border-radius: 5px;
  padding:10px;
  margin: 10px;
}

label{
  font-family: tahoma;
}

body{

}